DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres
SECRET_KEY=chave_secreta_desenvolvimento_123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
FRONTEND_URL=https://seu-frontend.vercel.app
ADMIN_EMAIL=admin@garagesales.com
ADMIN_SENHA=admin123
